body {
    background-color: #0D0D0D;
    color: #D3D3D3;
    font-family: 'Segoe UI', sans-serif;
}

header{
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 1rem;
    border-bottom: 3px solid #E10600;
}

#logoPP{
    display: block;
    margin: 0 auto;
    max-width: 30%;
}

.nav_a {
    margin: 0 1rem;
}

.nav_a:hover {
    color: #E10600; 
}

.dropdown_a:hover {
    color: #E10600;
}


.footer-personalizado {
    background-color: #1E1E1E;
    border-top: 3px solid #E10600; 
}

.principal-personalizado h1 {
    margin-bottom: 20px;
}

.principal-personalizado p{
    font-size: 20px;
}


#quienes-somos{
    padding: 20px;
    margin: 0 auto;
    max-width: 60%;
}

#quienes-somos h2{
    color: #E10600;
    text-align: center;
}

#quienes-somos p{
    font-size: 20px;
    text-align: center;
}

#quienes-somos div img{
    display: block;
    margin: 0 auto;
    max-width: 40%;
}

#contacto {
    padding: 20px;
    margin: 0 auto;
    max-width: 60%;
}

#contacto h2 {
    color: #E10600;
    text-align: center;
}

#contacto p {
    font-size: 20px;
    text-align: center;
}

#contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#contacto form input {
    padding: 10px;
    font-size: 16px;
}

#contacto form textarea {
    padding: 10px;
    font-size: 16px;
}

#contacto form button {
    padding: 12px;
    font-size: 16px;
    background-color: #E10600;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto-redes{
    margin-top: 20px;
}

.contacto-redes a{
    color: #cc0000;
    text-decoration: none;
}

.contacto-redes a:hover {
    text-decoration:underline;
}

#login{
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
}

#login h2 {
    color: #E10600;
    text-align: center;
}

#login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#login form input {
    padding: 10px;
    font-size: 16px;
}

#login form button {
    padding: 12px;
    font-size: 16px;
    background-color: #E10600;
    color: white;
    border: none;
    cursor: pointer;
}

.registrarse-aca {
    margin-top: 20px;
    text-align: center;
}

.registrarse-aca a {
    color: #cc0000;
    text-decoration: none;
}

.registrarse-aca a:hover {
    text-decoration: underline;
}


#registro{
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
}

#registro h2 {
    color: #E10600;
    text-align: center;
}

#registro form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#registro form input {
    padding: 10px;
    font-size: 16px;
}

#registro form button {
    padding: 12px;
    font-size: 16px;
    background-color: #E10600;
    color: white;
    border: none;
    cursor: pointer;
}

.ya_tiene_cuenta{
    margin-top: 20px;
    text-align: center;
}

.ya_tiene_cuenta a {
    color: #cc0000;
    text-decoration: none;
}

.ya_tiene_cuenta a:hover {
    text-decoration: underline;
}